In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("weatherHistory.csv")
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [3]:
df["Formatted Date"] = pd.to_datetime(df["Formatted Date"], utc=True, errors='coerce')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  datetime64[ns, UTC]
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: datetime64[ns, UTC](1), float64(8), object(3)
memory usage: 8.8+ MB

In [32]:
df["Year"] = pd.DatetimeIndex(df["Formatted Date"]).year
df["Month"] = df["Formatted Date"].dt.month_name()
df["day"] = df["Formatted Date"].dt.day
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Year,Month,day
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,2006,March,31
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,2006,March,31
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.,2006,April,1
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.,2006,April,1
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.,2006,April,1

In [7]:


# Convert to datetime if needed
df['Formatted Date'] = pd.to_datetime(df['Formatted Date'])

# Year-wise avg
print(df.groupby(df['Formatted Date'].dt.year)['Temperature (C)'].mean())

# Month-wise avg
print(df.groupby(df['Formatted Date'].dt.month)['Temperature (C)'].mean())

Formatted Date
2005     0.577778
2006    11.215225
2007    12.134677
2008    12.161819
2009    12.269682
2010    11.200176
2011    11.524934
2012    11.986824
2013    11.941017
2014    12.528228
2015    12.312088
2016    11.987381
Name: Temperature (C), dtype: float64
Formatted Date
1      0.815678
2      2.166880
3      6.914976
4     12.769200
5     16.874455
6     20.728510
7     22.965462
8     22.339134
9     17.503458
10    11.334119
11     6.587549
12     1.625086
Name: Temperature (C), dtype: float64

In [37]:
avg_Wind_Speed = pd.DataFrame(df.groupby("Year")["Wind Speed (km/h)"].mean())
print(avg_Wind_Speed)

      Wind Speed (km/h)
Year
2005          17.114300
2006          10.189128
2007          10.824162
2008          11.304172
2009          11.507326
2010          11.014343
2011           9.898596
2012          11.264745
2013          10.970036
2014          10.501276
2015          10.735590
2016          10.703967

In [39]:
Month_avg_Wind_Speed = pd.DataFrame(df.groupby("Month")["Wind Speed (km/h)"].mean())
Month_avg_Wind_Speed = Month_avg_Wind_Speed.sort_values(by= "Wind Speed (km/h)")
Month_avg_Wind_Speed.index.name = "Month"
print(Month_avg_Wind_Speed)

           Wind Speed (km/h)
Month
August              8.942707
September           9.610204
June                9.632453
July                9.637124
October            10.008495
November           10.947953
May                10.953186
December           11.094578
January            11.515865
April              11.876139
February           12.180815
March              13.415825

In [41]:
Temperature (C) = pd.DataFrame(df.groupby("Year")["Temperature (C)"].mean())
print(Year_avg_temp)

      Temperature (C)
Year
2005         0.577778
2006        11.215225
2007        12.134677
2008        12.161819
2009        12.269682
2010        11.200176
2011        11.524934
2012        11.986824
2013        11.941017
2014        12.528228
2015        12.312088
2016        11.987381

In [45]:
monthly_avg = df.groupby("Month")["Temperature (C)"].mean().rename("Avg Temperature (C)")
print(monthly_avg)

Month
April        12.769200
August       22.339134
December      1.625086
February      2.166880
January       0.815678
July         22.965462
June         20.728510
March         6.914976
May          16.874455
November      6.587549
October      11.334119
September    17.503458
Name: Avg Temperature (C), dtype: float64

In [46]:
import numpy as np

a = 17.27
b = 237.7
T = df["Temperature (C)"]
RH = df["Humidity"]  # Should be in 0–1 range

alpha = ((a * T) / (b + T)) + np.log(RH)
df["Dew Point"] = (b * alpha) / (a - alpha)

C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [47]:
yearly_avg = df.groupby("Year")["Dew Point"].mean()
print("Year-wise average dew point:")
print(yearly_avg)

Year-wise average dew point:
Year
2005   -1.023143
2006    6.702722
2007    5.649070
2008    6.123715
2009    6.187517
2010    7.335928
2011    6.101983
2012    5.459413
2013    6.958426
2014    7.537709
2015    6.840408
2016    7.243193
Name: Dew Point, dtype: float64

In [51]:
month_year_avg = df.groupby(["Month"])["Dew Point"].mean()
print("Month-wise dew point :")
print(month_year_avg)

Month-wise dew point :
Month
April         5.269067
August       13.898266
December     -0.390276
February     -0.840749
January      -1.534113
July         14.662712
June         13.889611
March         1.250991
May          10.445058
November      3.668338
October       7.076078
September    10.855245
Name: Dew Point, dtype: float64