In [17]:
import pandas as pd
df = pd.read_csv("Ps5, Ps8,Ps13 (iris_synthetic).csv") 
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth          Species
0     5.248357    3.125246     3.085502    0.968660      Iris-setosa
1     4.930868    3.173224     3.219909    1.477571  Iris-versicolor
2     5.323844    2.659988     3.873647    0.507137   Iris-virginica
3     5.761515    3.116127     3.805185    1.252023      Iris-setosa
4     4.882923    3.146536     3.489549    0.734871  Iris-versicolor

In [21]:
df.groupby('Species')['SepalLength'].describe()

,count,mean,std,min,25%,50%,75%,max
Species,,,,,,,,
Iris-setosa,50.0,4.976777,0.375653,4.299074,4.721094,4.973041,5.176870,5.789606
Iris-versicolor,50.0,4.944403,0.505585,4.006216,4.621665,4.946822,5.350282,5.943093
Iris-virginica,50.0,4.955330,0.527051,3.690127,4.597537,4.987948,5.237680,6.231621

In [22]:
df.agg({'SepalLength': ['sum', 'min', 'max']})

     SepalLength
sum   743.825485
min     3.690127
max     6.231621

In [23]:
df.groupby('Species')['SepalLength'].median()

Species
Iris-setosa        4.973041
Iris-versicolor    4.946822
Iris-virginica     4.987948
Name: SepalLength, dtype: float64

In [24]:
df.groupby('Species')['SepalLength'].mean()

Species
Iris-setosa        4.976777
Iris-versicolor    4.944403
Iris-virginica     4.955330
Name: SepalLength, dtype: float64

In [25]:
df.groupby('Species')['SepalLength'].count()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: SepalLength, dtype: int64

In [26]:
df.groupby('Species')['SepalLength'].std()

Species
Iris-setosa        0.375653
Iris-versicolor    0.505585
Iris-virginica     0.527051
Name: SepalLength, dtype: float64

In [27]:
df.groupby('Species')['SepalLength'].agg(['sum', 'min', 'max'])

                        sum       min       max
Species
Iris-setosa      248.838855  4.299074  5.789606
Iris-versicolor  247.220149  4.006216  5.943093
Iris-virginica   247.766481  3.690127  6.231621

In [28]:
df['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [29]:
# Create a categorical column for petal width for better grouping
df['petal_width_cat'] = pd.cut(df['PetalWidth'], bins=3, labels=["Low", "Medium", "High"])
df.groupby(['Species', 'petal_width_cat'])['SepalLength'].median()

C:\Users\user5\AppData\Local\Temp\ipykernel_13540\3605172558.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['Species', 'petal_width_cat'])['SepalLength'].median()

Species          petal_width_cat
Iris-setosa      Low                5.043259
                 Medium             5.004938
                 High               4.821814
Iris-versicolor  Low                5.033764
                 Medium             4.962777
                 High               4.733986
Iris-virginica   Low                4.982644
                 Medium             5.034281
                 High               4.311766
Name: SepalLength, dtype: float64

In [31]:
df['Species'].count()

150