In [1]:
import pandas as pd
df = pd.read_csv("Ps5, Ps8,Ps13 (iris_synthetic).csv") 
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth          Species
0     5.248357    3.125246     3.085502    0.968660      Iris-setosa
1     4.930868    3.173224     3.219909    1.477571  Iris-versicolor
2     5.323844    2.659988     3.873647    0.507137   Iris-virginica
3     5.761515    3.116127     3.805185    1.252023      Iris-setosa
4     4.882923    3.146536     3.489549    0.734871  Iris-versicolor

In [2]:
df.groupby('Species')['SepalLength'].describe()

,count,mean,std,min,25%,50%,75%,max
Species,,,,,,,,
Iris-setosa,50.0,4.976777,0.375653,4.299074,4.721094,4.973041,5.176870,5.789606
Iris-versicolor,50.0,4.944403,0.505585,4.006216,4.621665,4.946822,5.350282,5.943093
Iris-virginica,50.0,4.955330,0.527051,3.690127,4.597537,4.987948,5.237680,6.231621

In [3]:
df.agg({'SepalLength': ['sum', 'min', 'max']})

     SepalLength
sum   743.825485
min     3.690127
max     6.231621

In [4]:
df.groupby('Species')['SepalLength'].median()

Species
Iris-setosa        4.973041
Iris-versicolor    4.946822
Iris-virginica     4.987948
Name: SepalLength, dtype: float64

In [5]:
df.groupby('Species')['SepalLength'].mean()

Species
Iris-setosa        4.976777
Iris-versicolor    4.944403
Iris-virginica     4.955330
Name: SepalLength, dtype: float64

In [6]:
df.groupby('Species')['SepalLength'].count()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: SepalLength, dtype: int64

In [7]:
df.groupby('Species')['SepalLength'].std()

Species
Iris-setosa        0.375653
Iris-versicolor    0.505585
Iris-virginica     0.527051
Name: SepalLength, dtype: float64

In [8]:
df.groupby('Species')['SepalLength'].agg(['sum', 'min', 'max'])

                        sum       min       max
Species
Iris-setosa      248.838855  4.299074  5.789606
Iris-versicolor  247.220149  4.006216  5.943093
Iris-virginica   247.766481  3.690127  6.231621

In [9]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [10]:
# Map each species to a numeric value
species_list = df['Species'].unique().tolist()
species_mapping = {species: i for i, species in enumerate(species_list)}
df['species_encoded'] = df['Species'].map(species_mapping)

print("Species Mapping:", species_mapping)

Species Mapping: {'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [31]:
df['Species'].count()

150

In [11]:
for species in df['Species'].unique():
    print(f"\nStatistics for {species}:")
    print(df[df['Species'] == species].describe())

Statistics for Iris-setosa:
       SepalLength  SepalWidth  PetalLength  PetalWidth  species_encoded
count    50.000000   50.000000    50.000000   50.000000             50.0
mean      4.976777    3.114989     3.516816    1.016355              0.0
std       0.375653    0.439041     0.495021    0.469857              0.0
min       4.299074    2.023956     2.620630   -0.150961              0.0
25%       4.721094    2.874613     3.117353    0.675187              0.0
50%       4.973041    3.139421     3.506562    1.023947              0.0
75%       5.176870    3.305987     3.803283    1.309427              0.0
max       5.789606    4.071972     4.594901    2.037700              0.0

Statistics for Iris-versicolor:
       SepalLength  SepalWidth  PetalLength  PetalWidth  species_encoded
count    50.000000   50.000000    50.000000   50.000000             50.0
mean      4.944403    2.872364     3.498743    0.890692              1.0
std       0.505585    0.475337     0.489745    0.539889              0.0
min       4.006216    1.379366     2.438052   -0.235822              1.0
25%       4.621665    2.561409     3.103327    0.528633              1.0
50%       4.946822    2.855018     3.509276    0.783681              1.0
75%       5.350282    3.220993     3.855346    1.158739              1.0
max       5.943093    4.157329     4.377670    2.539440              1.0

Statistics for Iris-virginica:
       SepalLength  SepalWidth  PetalLength  PetalWidth  species_encoded
count    50.000000   50.000000    50.000000   50.000000             50.0
mean      4.955330    3.119492     3.566909    0.946015              2.0
std       0.527051    0.577988     0.444932    0.442669              0.0
min       3.690127    1.987429     2.480384   -0.105568              2.0
25%       4.597537    2.649621     3.281073    0.639729              2.0
50%       4.987948    3.174735     3.543200    0.932999              2.0
75%       5.237680    3.427704     3.804017    1.245839              2.0
max       6.231621    4.926366     4.576591    1.843571              2.0